<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Portafolios'" [items]="['Home','Portafolios']" [active_item]="subtitle">
      </app-breadcrumb>
    </div>

    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color = "#fff" type = "square-jelly-box"
                       [fullScreen]="false">
            <p style="color: white" > Cargando...</p>
          </ngx-spinner>
          <div class="header">
            <h2>
              <strong>{{ title }}</strong>
            </h2>
          </div>
          <div class="body">
            <mat-horizontal-stepper *ngIf="!loading" [linear]="isLinear" #stepper>
              <mat-step [stepControl]="portfolioStep1!">
                <form [formGroup]="portfolioStep1!">
                  <ng-template matStepLabel>Completa la información principal</ng-template>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width " appearance="outline">
                        <mat-label>Categoría</mat-label>
                        <mat-select (selectionChange)="onCategorySelectionChange($event)" formControlName="category" required>
                          <mat-option *ngFor="let category of categories" [value]="category">
                            {{ category.name }}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="portfolioStep1?.get('category')?.hasError('required')">
                          Debe seleccionar una categoría
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <ngx-mat-file-input #img formControlName="img" valuePlaceholder="Subir imagen de referencia" [accept]="'.png'"></ngx-mat-file-input>
                        <button mat-icon-button matSuffix *ngIf="!img.empty" (click)="img.clear($event)">
                          <mat-icon>clear</mat-icon>
                        </button>
                        <mat-icon matSuffix>folder</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Fecha Inicio</mat-label>
                        <input matInput [max]="maxDate" [matDatepicker]="pickerStart" formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                        <mat-datepicker #pickerStart></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Fecha Fin</mat-label>
                          <input matInput [max]="maxDate" [matDatepicker]="pickerEnd" formControlName="endDate">
                          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                          <mat-datepicker #pickerEnd></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nombre Proyecto</mat-label>
                        <input matInput formControlName="portfolioName" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>work</mat-icon>
                        <mat-error *ngIf="portfolioStep1?.get('portfolioName')?.hasError('required')">
                          Nombre del portafolio es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="show">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nombre Cliente</mat-label>
                        <input matInput formControlName="clientName">
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>business</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row" *ngIf="show">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Repositorio</mat-label>
                        <input matInput formControlName="repository">
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>code</mat-icon>
                        <mat-error *ngIf="portfolioStep1?.get('repository')?.invalid && portfolioStep1?.get('repository')?.touched">
                          La URL ingresada no es válida.
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Demo</mat-label>
                        <input matInput formControlName="demo">
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>airplay</mat-icon>
                        <mat-error *ngIf="portfolioStep1?.get('demo')?.invalid && portfolioStep1?.get('demo')?.touched">
                          La URL ingresada no es válida.
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div>
                    <button mat-raised-button matStepperNext color="primary"
                      [disabled]="!portfolioStep1!.valid">Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="portfolioStep2!">
                <form [formGroup]="portfolioStep2!">
                  <ng-template matStepLabel>Selecciona las tecnologías</ng-template>
                  <div class="row" formArrayName="technologyList">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" *ngFor="let techControl of technologyControls.controls; let i = index">
                      <div class="flex-container">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Seleccione una Tecnología</mat-label>
                          <mat-select [formControlName]="i" required>
                            <mat-option *ngFor="let tech of technologies" [value]="tech">{{ tech.name }}  {{ tech.version ? tech.version : '' }}</mat-option>
                          </mat-select>
                          <mat-error *ngIf="portfolioStep2?.get('technologyList')?.invalid && portfolioStep2?.get('technologyList')?.hasError('required')">
                            La tecnología es obligatoria
                          </mat-error>
                        </mat-form-field>
                        <button mat-icon-button color="warn" (click)="removeTechnology(i)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <button mat-raised-button color="primary" (click)="addTechnology()">Agregar Tecnología</button>
                </form>
              </mat-step>
              <mat-step [stepControl]="portfolioStep3!">
                <form [formGroup]="portfolioStep3!">
                  <ng-template matStepLabel>Describe el proyecto</ng-template>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Descripción</mat-label>
                          <textarea matInput required></textarea>
                          <mat-error *ngIf="portfolioStep3?.get('description')?.invalid && portfolioStep3?.get('description')?.hasError('required')">
                            Debe completar la descripción
                          </mat-error>
                        </mat-form-field>
                    </div>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Hecho</ng-template>
                <p>Completaste el formulario. Puedes corroborar si todo quedó como querias o puedes presionar confirmar para guardar</p>
                <div>
                  <button mat-raised-button matStepperPrevious color="warn" class="msr-2">Back</button>
                  <button mat-raised-button color="primary" (click)="create()">Confirmar</button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
