<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="example-container2">
      <h2>Asociadas al proyecto</h2>
      <div cdkDropList #AddedList="cdkDropList" [cdkDropListData]="technologiesAdded"
        [cdkDropListConnectedTo]="[toAddList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box-small" *ngFor="let technology of technologiesAdded" cdkDrag>{{ technology.name }} {{ technology.version }}</div>
      </div>
    </div>

    <div class="example-container2">
      <h2>Tecnologías para agregar</h2>
      <div cdkDropList #toAddList="cdkDropList" [cdkDropListData]="technologiesToAdd"
        [cdkDropListConnectedTo]="[AddedList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box-small" *ngFor="let technology of technologiesToAdd" cdkDrag>{{ technology.name }} {{ technology.version }}</div>
      </div>
    </div>

  </div>
</div>
