<div class="row" formArrayName="technologyList">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" *ngFor="let techControl of technologyControls.controls; let i = index">
    <div class="flex-container">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Seleccione una Tecnología</mat-label>
        <mat-select [formControlName]="i">
          <mat-option *ngFor="let tech of technologies" [value]="tech">{{ tech.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="portfolioStep2?.get('technologyList')?.invalid && portfolioStep2?.get('technologyList')?.hasError('required')">
          La tecnología es obligatoria
        </mat-error>
      </mat-form-field>
      <button mat-icon-button color="warn" (click)="removeTechnology(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
<button mat-raised-button color="primary" (click)="addTechnology()">Agregar Tecnología</button>
